<ng-scrollbar (clickOutside)="navMob()" style="height: calc(100vh - 56px)">
  <div class="navbar-content">
    <ul class="nav pcoded-inner-navbar" (clickOutside)="fireOutClick()"> 
      <!-- Sử dụng *ngFor cho danh sách điều hướng -->
      <ng-container *ngFor="let item of navigationItemsFromAdmin; trackBy: trackItem">
        <ng-container [ngSwitch]="item.type">
          <app-nav-group *ngSwitchCase="'group'" [item_group]="item" [depth]="0" ></app-nav-group>
          <app-nav-collapse *ngSwitchCase="'collapse'" [item_collapse]="item" [depth]="0"></app-nav-collapse>
          <app-nav-item *ngSwitchCase="'item'" [item_item]="item"></app-nav-item>
        </ng-container>
      </ng-container>
    </ul>
     <!-- Phiên bản ứng dụng -->
    <div class="version">
      <label disabled class="pe-auto">{{ currentApplicationVersion }}</label>
    </div>
  </div>
</ng-scrollbar>
