<li class="nav-item pcoded-hasmenu" [ngClass]="{ 'active': isCollapsed }" [routerLinkActive]="['active']">
  <!-- Link điều hướng -->
  <a [routerLinkActive]="['active']" class="nav-link" href="javascript:void(0)" (click)="navCollapse($event)">
    <span class="pcoded-micon" *ngIf="item_collapse.icon">
      <i [ngClass]="item_collapse.icon"></i>
    </span>
    <span class="pcoded-mtext">{{ item_collapse.title }}</span>
    <span class="pcoded-arrow"></span>
  </a>
  
  <!-- Submenu -->
  <div *ngIf="isCollapsed && hasChildren()" 
  class="pcoded-submenu" 
  [ngClass]="{ 'open': isCollapsed && hasChildren() }" 
  [routerLinkActive]="['active']">
    <ul>
      <!-- Đệ quy xử lý con của collapse -->
      <ng-container *ngFor="let child of item_collapse.children; trackBy: trackItem">
        <ng-container [ngSwitch]="child.type">       
           <!-- Xử lý type='item' -->   
          <app-nav-item *ngSwitchCase="'item'" [item_item]="child"></app-nav-item>
            <!-- Xử lý type='collapse' -->
          <app-nav-collapse 
          *ngSwitchCase="'collapse'" 
          [item_collapse]="child" 
          [depth]="depth + 1">
        </app-nav-collapse>
        </ng-container>
      </ng-container>          
    </ul>    
  </div>
  <ng-template #NavCollapsedynamicContainer></ng-template>
</li>